@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

html, body {font-family: 'Nanum Gothic', sans-serif; font-size: 14px; height: 2000px;}

.red {color: #db1825;}

.wrapper {max-width: 1600px; margin: auto; padding: 0 .5rem;}
.wrapper2 {max-width: 1300px; margin: auto; padding: 0 .5rem;}
.wrapper3 {max-width: 1414px; margin: auto; padding: 0 .5rem; overflow: hidden;}

.disp-table {display: table;}
.disp-cell {display: table-cell; text-align: center; vertical-align: middle;}
.angle-rt::after {content: '＞'; display: inline-block;}
.pager-wrapper {text-align: center; margin: 2em 0 3em 0;}
.pager-wrapper > a {vertical-align: middle; margin: 0 0.25em; color: #ccc; transition: all 0.5s;}
.pager-wrapper > a.pager {display: inline-block; width: 18px; height: 18px; border: 2px solid #ccc; border-radius: 9px;}
.pager-wrapper > a.pager.active {border: 2px solid #db1825; width: 28px; background-color: #db1825;}
.pager-wrapper > a.bt-play.active {color: #db1825;}
.pager-wrapper > a.bt-pause.active {color: #db1825;}

.swiper-pagination {width: 100%; text-align: center; margin: 24px 0 36px 0; position: static;}
.swiper-pagination > .swiper-pagination-bullet {width: 18px; height: 18px; margin: 2px; outline: none; background-color: transparent; border: 2px solid #ccc; opacity: 1; border-radius: 9px; transition: all 0.5s;}
.swiper-pagination > .swiper-pagination-bullet-active {background-color: #db1825; border-color: #db1825; width: 28px;}

.bt-swiper {position: absolute; z-index: 9; top: 150px; font-size: 4em; color: #999; cursor: pointer; outline: none;}
.bt-swiper:hover {color: #444;}
.bt-swiper.bt-prev {left: 0;}
.bt-swiper.bt-next {right: 0;}



/********************* header-wrapper **********************/
.header {padding-top: 1.5em; border-bottom: 3px solid #db1825;}
.header .logo img {width: 10%; margin-left: 50%; transform: translateX(-50%);}

.login {font-size: 1em; width: 250px; margin-top: 2em; margin-bottom: 1em; margin-left: 50%; transform: translateX(-50%);}
.login ul {display: flex; background-color: #db1825; border-radius: 50px; padding: .5em 1em; justify-content: center; color: #ffffff;}
.login ul li:nth-child(2) {margin: 0 .5em;}

.navi {font-size: 1.25em;}
.navi ul {display: flex; justify-content: center; text-align: center;}
.navi ul li {width: 20%; padding: 1em;}

.sub-wrapper {font-size: 1em; display: flex; justify-content: center;} 
.sub-wrapper ul.sub {display: flex; flex-direction: column; width: 20%; text-align: center;}
.sub-wrapper ul.sub li {padding: 1em; cursor: pointer;}
.sub-wrapper ul.sub li:hover {color: #db1825;}




/********************* main-wrapper **********************/
.main-wrapper {max-width: 1900px; margin: auto; position: relative;}
.main-wrapper .slide {padding-top: 25%; position: relative; overflow: hidden; 
	height: 480px; 
	background-repeat: no-repeat; background-position: center;}
.main-wrapper .slide:nth-child(1) {background-image: url('../img/main01.jpg');}
.main-wrapper .slide:nth-child(2) {background-image: url('../img/main02.jpg');}
.main-wrapper .slide:nth-child(3) {background-image: url('../img/main03.jpg');}
.main-wrapper .slide:nth-child(4) {background-image: url('../img/main04.jpg');}
.main-wrapper .slide:nth-child(5) {background-image: url('../img/main05.jpg');}
.main-wrapper .slide:nth-child(6) {background-image: url('../img/main06.jpg');}
.main-wrapper .bt-swiper {top: calc(50% - 52px); color: #fff; text-shadow: 0 0 6px rgba(0, 0, 0, .5);}







/********************* hollys-wrapper **********************/
.wrapper3 > h3.title {font-size: 1.5em; text-align: center; line-height: 1.5; position: relative; margin-bottom: 2em;}
.wrapper3 > h3.title > span {border-bottom: 1px solid #999; display: inline-block;}
.wrapper3 > h3.title > .bt-more {position: absolute; top: 0; right: 0; font-size: 0.65em; color: #777; cursor: pointer;}
.wrapper3 > h3.title > .bt-more::after {display: inline-block; box-sizing: border-box; content: '+'; width: 22px; height: 22px; border-radius: 50%; border: 1px solid #bbb; font-size: 1.5em; line-height: 20px; text-align: center; transform: translateY(2px); margin-left: 6px;}
.wrapper3 > h3.title > .bt-more:hover {color: #333;}

.hollys-wrapper {background-color: #f8f8f8; padding: 5em 0;}
.hollys-wrapper > .wrapper3 {overflow: hidden;}

.hollys-wrapper .cont-wrapper {background-color: #fff; margin-bottom: 2em; display: flex;}
.hollys-wrapper .cont-wrapper > div.banner-wrap {padding: 3%;}
.hollys-wrapper .cont-wrapper > div.banner-wrap img {width: 100%; height: 100%; overflow: hidden;}
.hollys-wrapper .cont-wrapper > div.cont-wrap {width: 100%; padding: 4%;}
.hollys-wrapper .cont-wrapper > div.cont-wrap > h4.title {font-size: 1.5em;}
.hollys-wrapper .cont-wrapper > div.cont-wrap > p.content {font-size: 1.25em; color: #777; line-height: 1.5; padding: 2em 0;}
.hollys-wrapper .cont-wrapper > div.cont-wrap > div.date {font-size: 1.125em; padding-bottom: 2em;}
.hollys-wrapper .cont-wrapper > div.cont-wrap > button.bt-detail {border: 1px solid #333; color: #333; padding: 0.5em 2em; background-color: transparent; font-family: inherit; font-size: inherit; cursor: pointer; transition: all 0.25s;}
.hollys-wrapper .cont-wrapper > div.cont-wrap > button.bt-detail:hover {background-color: #333; color: #f9f9f9;}





/********************* menu-wrapper **********************/
.menu-wrapper {text-align: center;}
.menu-wrapper > .title-wrapper {padding-top: 3.5em; padding-bottom: 1em; font-size: 2.5em;}
.menu-wrapper > .slide-wrapper {padding-bottom: 120px;}
.menu-wrapper > .slide-wrapper {position: relative;}
.menu-wrapper > .slide-wrapper > .slide-stage {width: calc(100% - 100px); margin: auto;}
.menu-wrapper > .slide-wrapper .slide {border: 1px solid #ccc; padding-bottom: 4em;}
.menu-wrapper > .slide-wrapper > .slide-stage > .slide-wrap > .slide > li {display: table; width: 100%;}
.menu-wrapper > .slide-wrapper > .slide-stage > .slide-wrap > .slide > li > div {display: table-cell; vertical-align: middle;}
.menu-wrapper > .slide-wrapper > .slide-stage > .slide-wrap > .slide > div > .best-title {font-size: 1.125em; color: #333; line-height: 1.5;}




/********************* membership-wrapper **********************/
.membership-wrapper .list-wrapper {display: flex; justify-content: center;}
.membership-wrapper .list-wrapper > .list {background-color: #fff; width: 49%;}
.membership-wrapper .list-wrapper > .list:nth-child(2) {margin-left: 2%;}
.membership-wrapper .list-wrapper > .list > .cont-wrap {padding: 1.5em 0.5em; text-align: center; letter-spacing: -1px; line-height: 1.25;}
.membership-wrapper .list-wrapper > .list > .cont-wrap .title {font-size: 1.125em; padding: 0.5em 0; cursor: pointer;}
.membership-wrapper .list-wrapper > .list > .cont-wrap .content {color: #555; padding: 0.5em 0; cursor: pointer;}
.membership-wrapper .list-wrapper > .list > .cont-wrap:hover > .title,
.membership-wrapper .list-wrapper > .list > .cont-wrap:hover > .content {text-decoration: underline;}


/******************** aside **********************/
aside.bt-top {position: fixed; bottom: 20px; right: 20px; background-color: #db1825; color: #ffffff; border-radius: 50%; padding: 1em; font-size: 1.5em; z-index: 100; display: none;}
aside.bt-top.active {display: block;}


/******************** 반응형 **********************/
@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
	.login {font-size: .85em; width: 200px;}
	.navi {font-size: 1em;}
	.sub-wrapper {font-size: .65em;}

	.wrapper3 > h3.title {font-size: 1.25em;}
	.hollys-wrapper .cont-wrapper {flex-direction: column;}
	.hollys-wrapper .cont-wrapper > div.banner-wrap {padding: 5% 5% 2% 5%;}
	.hollys-wrapper .cont-wrapper > div.cont-wrap {text-align: center; padding-bottom: 6%;}
	.hollys-wrapper .cont-wrapper > div.cont-wrap > h4.title {font-size: 1.25em;}
	.hollys-wrapper .cont-wrapper > div.cont-wrap > p.content {font-size: 1em;}
	.hollys-wrapper .cont-wrapper > div.cont-wrap > div.date {font-size: .85em;}
	.hollys-wrapper .cont-wrapper > div.cont-wrap > button.bt-detail {font-size: .85em;}
	
	.menu-wrapper > .title-wrapper {font-size: 1.5em;}

	.membership-wrapper .list-wrapper {flex-direction: column;}
	.membership-wrapper .list-wrapper > .list {width: 100%;}
	.membership-wrapper .list-wrapper > .list > .cont-wrap .title {font-size: 1em;}
	.membership-wrapper .list-wrapper > .list > .cont-wrap .content {font-size: .85em;}
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}


